<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.positano.repository.mysql.mapper.UserInfoMapper">

    <select id="findAll" resultType="com.positano.repository.mysql.entity.UserInfo">
        SELECT id, name
        FROM users
    </select>

</mapper>
